@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/pictures/logo-icon-V4-1.ico" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 hco-nav-banner">
            <div class="hco-nav-image"><a href="/Forside"><img src="~/pictures/logo.png" /></a></div>
            <div class="container hco-nav-menu">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="hco-nav-menu-item">
                        <li class="nav-item hco-nav-item-forside">
                            <a class="nav-link @((Context.Session.GetString("page") == "1" || Context.Session.GetString("page") == null || Context.Session.GetString("page") == "") ? "hco-current-page" : "")" asp-page="/Index">Forside</a>
                        </li>
                        <li class="nav-item hco-nav-item-about">
                            <a class="nav-link @(Context.Session.GetString("page") == "3" ? "hco-current-page" : "")" asp-page="/Om-Mig">Om mig</a>
                        </li>
                        <li class="nav-item hco-nav-item-package">
                            <a class="nav-link @(Context.Session.GetString("page") == "4" ? "hco-current-page" : "")" asp-page="/Events">Priser på events</a>
                        </li>
                        <li class="nav-item hco-nav-item-Contact">
                            <a class="nav-link @(Context.Session.GetString("page") == "5" ? "hco-current-page" : "")" asp-page="/Kontakt">Kontakt</a>
                        </li>
                        <li class="nav-item hco-nav-item-pics">
                            <a class="nav-link @(Context.Session.GetString("page") == "2" ? "hco-current-page" : "")" asp-page="/Billeder">Billeder</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hco-page-devider">
                <img src="~/pictures/top-page.png" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="text-align:center;">

        <div class="hco-page-devider">
            <img src="~/pictures/bottom-page.png" />
        </div>
        <style>
            .c-copyright {
                font-size: 12px;
            }

            .c-copyright-tag, .c-copyright-tag:hover {
                color: black;
            }
        </style>
        <span class="c-copyright">
            &copy; 2021 - <a href="http://www.hcoutdoor.dk/" class="c-copyright-tag">HC Outdoor</a>
        </span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
